html, body {    
    margin: 0 !important;
    padding: 0 !important;
}

.Typewriter a {
    text-decoration: none;
    color: black;
}

.Typewriter a:hover {
    color: black;
}

@media only screen and (max-height: 700px) {
    .card-text {
        font-size: 10px;
    }
}

